.login-container {
  background: linear-gradient(rgb(129, 89, 207), rgb(101, 188, 243));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  position: relative;
  padding: 20px;
}

.login-img {
  margin-top: -100px;
  width: 420px;
  margin-bottom: -60px;
}

.login-heading {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
}

.login-subtext {
  font-size: 17px;
  color: #e0e0e0;
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 15px;
  align-items: center;
}

.login-input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  font-size: 15px;
  outline: none;
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Password wrapper for eye icon */
.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

/* Login button same as signup */
.login-btn {
  width: 230px;
  height: 40px;
  border-radius: 12px;
  background: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border: none;
}

.login-btn:hover {
  opacity: 0.9;
}

/* Bottom text */
.signup-text {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: black;
}

.signup-span {
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: white; /* icon color visible on gradient */
}

