.img-fallback-wrapper {
  display: inline-block;
  background: #f3f3f3;
  text-align: center;
  width: 100%;
  height: 100%;
}

.img-fallback-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
